:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --fourth-text-color: #ffffff;
  --accent-color: #2196f3;

  --primary-title-color: #212121;
  --second-title-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ----------- header ------------- */

.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-navigation:hover,
.header-navigation:focus {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* --------hero--------------- */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;

  color: var(--second-title-color);
}

/* -- button--- */
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--fourth-text-color);
  background-color: var(--accent-color);
}
